.main-body p {
    color: white;
}

.main-body {
    display: flex;
    justify-content: space-evenly;
}

.order-book, .chart , .transactions, .trades, .balance, .new-order {
    background: #333;
}

.sub-cont {
    background: blue;
    padding: 0;
    display: flex;
    flex-direction: column;
}


